flask
llama-cpp-python  # recommened you use my install script
torch
torchaudio
torchvision
numpy
psutil
requests
tqdm
python-dotenv
werkzeug
jinja2
itsdangerous
click
markupsafe
typing-extensions
filelock
sympy
networkx
